textarea {
	resize: none;
}

#review{
	font-size: 24px;
	color: white;
}

.padding-top-12px{
	padding-top: 12px;
}

.bold{
	font-weight: bold;
}
.white{
	color:white;
}

.barre-avis{
	width: 180px;
}

.etoile-barre-avis{
	width:35px; 
	line-height:1;
}

.etoile-barre-avis2{
	height:9px; 
	margin:5px 0;
}

.barre-progression{
	height:9px; 
	margin:8px 0;
}

.nombre-avis{
	padding-top: 3px;
	height: 25px;
}

.image-resize-100px{
	height: 100px;
	width: 100px;
}

.sans-etoile{
	background-color: white;
	color: black !important;	
}
.sans-etoile:hover{
    background: #f2f2f2 !important;
    border-color: #fcbe61 !important;
}

#progression-100{
	width: 100%;
}

#progression-80{
	width: 80%;
}

#progression-60{
	width: 60%;
}

#progression-40{
	width: 40%;
}

#progression-20{
	width: 20%;
}

.rating {
      float:left;
}

.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    /* padding:0 .1em; */
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:300%;
    /* line-height:1.2; */
    color:#ddd;
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: dodgerblue;
    
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: dodgerblue;
    
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: dodgerblue;
    
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}